<div style="text-align: right;"><a style="color: #fff;" [routerLink]="['/main/messaging']">back</a></div>
<div class="container">
    <h2 class=" text-center" style="color:#fff;">Group Messaging</h2>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat" [class.active_chat]="person.active"
                        *ngFor="let person of groups;let i=index;" (click)="tapClient(person)">

                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                    alt="sunil">
                            </div>
                            <div class="chat_ib">
                                <h5>{{person.groupName}}</h5>
                                <p>{{getNumbers(person.clients)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div *ngFor="let msg of messages;let i=index;">
                        <div class="incoming_msg" *ngIf="msg.messageTypeId==2">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                    alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{msg.body}}</p>
                                    <span class="time_date"> {{msg.createdDate |date:'short'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg" *ngIf="msg.messageTypeId == 1">
                            <div class="sent_msg">
                                <p>{{msg.body}}</p>
                                <span class="time_date">{{msg.createdDate | date:'short'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input #msg type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" (click)="sendMessage(msg)" type="button"><i class="fa fa-paper-plane-o"
                                aria-hidden="true" ></i></button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<p-blockUI [blocked]="blocked"></p-blockUI>