h1{
    color: white;
    text-align: center;
}
p{
    text-align: right;
}
p a {
    color: white;
}
.form-group{
    margin: 15px 0px;
}
.form-group label{
    display: block;
    color:white;
    font-size: large;
}
.form-group textarea {
    width: 100%;
}

.error-msg {
    color:red;
}