<div class="dashboard-header"><a style="color: #fff;" [routerLink]="['/login']">Sign out</a></div>
<div class="p-grid dashboard-main">
    <div class="p-col-6 p-offset-3">
        <h2>DASHBOARD</h2>
        <div style="margin-top: 70px; text-align: center">
              <a pButton style="padding: 30px; margin: 20px; font-size: 20px" class="p-button-lg" label="User Info"></a>
              <a pButton style="padding: 30px; margin: 20px; font-size: 20px" class="p-button-lg p-button-help" label="Access Request"></a>
              <a [routerLink]="['/main/messaging']" pButton style="padding: 30px; margin: 20px; font-size: 20px" class="p-button-lg p-button-danger" label="Messaging"></a>
        </div>
    </div>
</div>
