<div class="dashboard-header"><a style="color: #fff;" [routerLink]="['/main']">back</a></div>
<div class="p-grid dashboard-main">
    <div class="p-col-6 p-offset-3">
        <h2>MESSAGING (customer service portal)</h2>
        <div style="margin-top: 70px; text-align: center">
              <a [routerLink]="['/main/messaging/individual']" pButton style="padding: 30px; margin: 20px; font-size: 20px" class="p-button-lg" label="Individual Messaging"></a>
              <a [routerLink]="['/main/messaging/bulk']"  pButton style="padding: 30px; margin: 20px; font-size: 20px" class="p-button-lg p-button-help" label="Bulk Messaging"></a>
        </div>
    </div>
</div>

